<shared-loading-page *ngIf="isLoading"></shared-loading-page>

<div class="flex justify-between items-center mb-4 w-full">
  <div class="w-full md:w-2/6">
    <mat-form-field class="h-17 md:w-full w-40 -ml-4">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input />
    </mat-form-field>
  </div>
</div>

<h2 class="text-2xl text-center md:w-full mb-4 -mt-6">Cobranza - Notas de Crédito</h2>

<form [formGroup]="filterForm" (ngSubmit)="filterSales()" class="mb-4">
  <div class="flex flex-col md:flex-row gap-4 w-full">
    <div class="flex flex-row gap-4 w-full md:w-auto">
      <mat-form-field appearance="fill" class="w-full sm:w-1/2 md:w-36">
        <mat-label>Desde</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full sm:w-1/2 md:w-36">
        <mat-label>Hasta</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="flex flex-row gap-4 w-full md:w-auto">
      <mat-form-field appearance="fill" class="w-full sm:w-1/2 md:w-48">
        <mat-label>Vendedor</mat-label>
        <mat-select formControlName="salesPersonId">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option *ngFor="let s of users" [value]="s.userId">
            {{ s.firstName }} {{ s.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full sm:w-1/2 md:w-48">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="clientId">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option *ngFor="let c of clients" [value]="c.clientId">
            {{ c.businessName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="w-full sm:w-1/2 md:w-48 mb-5 flex items-end">
      <button mat-raised-button class="btn-success h-10 md:w-auto" type="submit">Filtrar</button>
      <button mat-raised-button class="btn-cancel h-10 ml-2 md:h-10" type="button" (click)="clearFilters()">Limpiar</button>
    </div>
  </div>
</form>

<div class="flex items-center mb-4 -mt-2 w-full gap-4">
  <button mat-raised-button class="btn-cancel h-10 flex items-center gap-x-1">
    <span>Descargar</span>
    <mat-icon>picture_as_pdf</mat-icon>
  </button>

  <button mat-raised-button class="btn-success h-10 flex items-center gap-x-1">
    <span>Descargar</span>
    <mat-icon>explicit</mat-icon>
  </button>
</div>

<!-- Pestañas -->
<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Pendientes"></mat-tab>
  <mat-tab label="Confirmadas"></mat-tab>
</mat-tab-group>

<div class="mat-elevation-z8 overflow-x-auto">
  <div class="min-w-[900px]">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="noteCreditId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Nota </th>
        <td mat-cell *matCellDef="let entry"> {{ entry.noteCreditId }} </td>
      </ng-container>

      <ng-container matColumnDef="saleId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Ticket </th>
        <td mat-cell *matCellDef="let entry"> {{ entry.saleId }} </td>
      </ng-container>

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
        <td mat-cell *matCellDef="let entry"> {{ entry.clientName }} </td>
      </ng-container>

      <ng-container matColumnDef="vendedor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor </th>
        <td mat-cell *matCellDef="let entry"> {{ entry.vendedor }} </td>
      </ng-container>

      <ng-container matColumnDef="finalCreditAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
        <td mat-cell *matCellDef="let entry" class="text-right"> {{ entry.finalCreditAmount | currency:'MXN' }} </td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef> Comentarios </th>
        <td mat-cell *matCellDef="let entry"> {{ entry.comments }} </td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let entry"> {{ entry.createDate | date:'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef> Creado por </th>
        <td mat-cell *matCellDef="let entry"> {{ entry.createdBy }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let entry">
          <button mat-icon-button class="cursor-pointer" matTooltip="Ver Detalles del Ticket" (click)="openDetailsTicket(entry)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button class="cursor-pointer" matTooltip="Ver Detalles de Nota de Crédito" (click)="openDetailsNoteCredit(entry)">
            <mat-icon>table_eye</mat-icon>
          </button>
          <button *ngIf="selectedTabIndex === 0" mat-icon-button class="text-green-600 cursor-pointer ml-1" matTooltip="Aprobar Nota de Crédito" (click)="openStatusDialog(entry)">
            <mat-icon>check</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9">No hay datos que coincidan con "{{ input.value }}"</td>
      </tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[25, 50, 100]" aria-label="Selector de página"></mat-paginator>
</div>
