<nav class="fixed top-0 z-50 w-full bg-[#ffffffd8] border-b border dark:bg-blue-600">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
          <div class="flex items-center justify-start">
              <!-- Botón para abrir/cerrar el sidebar -->
              <button
                  type="button"
                  (click)="toggleSidebar()"
                  class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              >
                  <span class="sr-only">Open sidebar</span>
                  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                  </svg>
              </button>
              <a routerLink="/sic/inicio/stock" class="flex ms-2 md:me-24">
                  <img src="assets/logos/inventory.png" class="h-12 ml-3 me-3" alt="Logo" />
              </a>
          </div>

          <!-- Menú de usuario -->
          <div class="relative" #userMenuContainer>
            <button type="button"
                    (click)="toggleUserMenu()"
                    class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-500">
              <img
                  class="w-8 h-8 rounded-full"
                  [src]="'assets/default-user.png'"
                  alt="user photo"
              />
              </button>
              <div *ngIf="isUserMenuOpen"
                    class="absolute right-0 mt-2 z-50 w-48 bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-600 dark:divide-gray-600">
                  <div class="px-4 py-3">
                    <p class="text-sm text-gray-900 dark:text-white">{{ user.fullName| titlecase }}  </p>
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300">{{ user.username }}</p>
                  </div>
                  <ul class="py-1">
                    <li><a routerLink="/" class="item-submenu">Cuenta</a>
                    <li>
                      <button (click)="logout(); closeUserMenu()" class="item-submenu ">
                        Cerrar Sesión
                      </button>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</nav>

<div *ngIf="isSidebarOpen"
     class="fixed inset-0 z-30 bg-transparent bg-opacity-40 md:hidden"
     (click)="closeSidebar()"></div>

<!-- Sidebar -->

<aside id="logo-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full md:translate-x-0 bg-white border-r border-gray-200 dark:bg-gray-500 dark:border-gray-500"
       [ngClass]="{ 'translate-x-0': isSidebarOpen, '-translate-x-full': !isSidebarOpen }"
       (click)="$event.stopPropagation()" >
  <div class="h-full px-3 pb-4 flex flex-col justify-between overflow-y-auto bg-white dark:bg-gray-500">
    
    <!-- Parte superior: info y menú -->
    <div>
      <!-- Tarjeta de usuario -->
      <div class="bg-gray-100 dark:bg-gray-600 p-4 rounded-lg mb-4">
        <p class="text-sm font-semibold text-gray-800 dark:text-gray-100">
          Bienvenido: {{ user.fullName | titlecase }}
        </p>
        <p class="text-xs text-gray-600 dark:text-gray-100 mt-1">
          Cargo: {{ user.roleDescription }}
        </p>
      </div>

      <!-- Menú de navegación -->
      <ul class="space-y-2 font-medium">
        <li *ngFor="let group of sidebarItems">
          <!-- Grupo principal -->
          <div class="flex items-center justify-between p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group cursor-pointer"
               (click)="toggleGroup(group)">
            <div class="flex items-center">
              <span class="material-icons me-3">{{ group.icon }}</span>
              <span class="ms-1">{{ group.label }}</span>
            </div>
            <span class="material-icons">{{ group.expanded ? 'expand_less' : 'expand_more' }}</span>
          </div>

          <!-- Subitems -->
          <ul *ngIf="group.expanded" class="ml-6 mt-1 space-y-1">
            <li *ngFor="let item of group.children">
              <a [routerLink]="item.url"
                 class="flex items-center p-2 pl-4 text-sm text-gray-700 rounded-lg dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600"
                 (click)="closeSidebar()">
                <span class="material-icons me-2">{{ item.icon }}</span>
                {{ item.label }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Parte inferior fija -->
    <div class="space-y-2">
      <!-- <a routerLink="/terms"
         class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
         (click)="closeSidebar()"
      >
        <span class="material-icons me-3">assignment</span>
        <span class="ms-3">Manual de Usuario</span>
      </a> -->

      <a (click)="logout()"
         class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
      >
        <span class="material-icons me-3 cursor-pointer">logout</span>
        <span class="ms-3 cursor-pointer">Cerrar Sesión</span>
      </a>
    </div>
  </div>
</aside>

  
<div class="p-4 sm:ml-64">
  <div class="p-4 mt-14">
    <router-outlet></router-outlet>
  </div>
</div>
  