<shared-loading-page *ngIf="isLoading"></shared-loading-page>
<div class="flex justify-between items-center mb-4 w-full">
  <!-- Campo de búsqueda a la izquierda -->
  <div class="w-full md:w-1/3">
    <mat-form-field class="h-17">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar compra" #input />
    </mat-form-field>
  </div>

  <!-- Botón al extremo derecho -->
  <div class="">
    <button mat-raised-button class="btn-success" [routerLink]="['crear']">
      Registrar Compra
    </button>
  </div>
</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="entryId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.entryId }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="invoiceNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Pedido </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.invoiceNumber }} </td>
    </ng-container>

    <!-- BusinessName Column -->
    <ng-container matColumnDef="businessName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.businessName }} </td>
    </ng-container>

    <!-- EntryDate Column -->
    <ng-container matColumnDef="entryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creación </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.entryDate | date: 'shortDate' }} </td>
    </ng-container>

    <!-- ExpectedPaymentDate Column -->
    <ng-container matColumnDef="expectedPaymentDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Pago </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.expectedPaymentDate | date: 'shortDate' }} </td>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.totalAmount | currency }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let entry">
            <button mat-icon-button color="primary">
                <mat-icon>add_business</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos que coincidan con "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Selector de página"></mat-paginator>
</div>
