<shared-loading-page *ngIf="isLoading"></shared-loading-page>

<div class="flex justify-between items-center mb-4 w-full">
  <!-- Campo de búsqueda a la izquierda -->
  <div class="w-full md:w-2/6">
    <mat-form-field class="h-17 md:w-full w-40 -ml-4">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar ticket" #input />
    </mat-form-field>
  </div>
</div>

<h2 class="text-2xl text-center md:w-full mb-4 -mt-6">Cobranza - Por Cobrar</h2>

<form [formGroup]="filterForm" (ngSubmit)="filterSales()" class="mb-4">
  <div class="flex flex-col md:flex-row gap-4 w-full">

    <!-- Fila 1: Fechas -->
    <div class="flex flex-row gap-4 w-full md:w-auto">
      <!-- Desde -->
      <mat-form-field appearance="fill" class="w-full sm:w-1/2 md:w-36">
        <mat-label>Desde</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <!-- Hasta -->
      <mat-form-field appearance="fill" class="w-full sm:w-1/2 md:w-36">
        <mat-label>Hasta</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="flex flex-row gap-4 w-full md:w-auto">
      <mat-form-field appearance="fill" class="w-full sm:w-1/2 md:w-48">
        <mat-label>Vendedor</mat-label>
        <mat-select formControlName="salesPersonId">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option *ngFor="let s of users" [value]="s.userId">
            {{ s.firstName }} {{ s.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full sm:w-1/2 md:w-48">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="clientId">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option *ngFor="let s of clients" [value]="s.clientId">
            {{ s.businessName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Fila 2: Estatus + Botón -->
    <div class="flex flex-row gap-4 w-full md:w-auto">
      <!-- Estatus Ticket -->
      <mat-form-field appearance="fill" class="w-full sm:w-1/2 md:w-48">
        <mat-label>Estatus Ticket</mat-label>
        <mat-select formControlName="saleStatusId">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option *ngFor="let s of salesStatuses" [value]="s.saleStatusId">
            {{ s.statusName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Estatus de Cobranza  -->
      <mat-form-field appearance="fill" class="w-full sm:w-1/2 md:w-48">
        <mat-label>Estatus Cobranza</mat-label>
        <mat-select formControlName="paymentStatusId">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option *ngFor="let s of paymentStatuses" [value]="s.paymentStatusId">
            {{ s.paymentStatusName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Botón -->
    <div class="w-full sm:w-1/2 md:w-48 mb-5 flex items-end">
      <button mat-raised-button class="btn-success h-10 md:w-auto" type="submit">
        Filtrar
      </button>

      <button mat-raised-button class="btn-cancel h-10 ml-2 md:h-10" type="button" (click)="clearFilters()">
        Limpiar
      </button>
    </div>
  </div>
</form>

<div class="flex items-center mb-6 -mt-2 w-full gap-4">
  <button mat-raised-button class="btn-cancel h-10 flex items-center gap-x-1" (click)="exportToPDF()">
    <span>Descargar</span>
    <mat-icon>picture_as_pdf</mat-icon>
  </button>

  <button mat-raised-button class="btn-success h-10 flex items-center gap-x-1" (click)="exportToExcel()">
    <span>Descargar</span>
    <mat-icon>explicit</mat-icon>
  </button>

  <!-- NUEVO: PAGO MÚLTIPLE -->
  <button mat-raised-button class="btn-info" (click)="toggleMultiPay()">
    {{ multiPayActive ? 'Salir de Pago Múltiple' : 'Pago Múltiple' }}
  </button>

  <ng-container *ngIf="multiPayActive">
    <div [formGroup]="multiPayForm" class="flex items-center gap-4">
    <!-- Monto ingresado -->
    <mat-form-field appearance="fill" class="w-40">
      <mat-label>Monto Ingresado</mat-label>
      <input matInput type="number" min="0.01" step="0.01"
             formControlName="enteredAmount"
             (input)="onEnteredAmountChange()"
             placeholder="$0.00">
    </mat-form-field>

    <!-- Monto restante (solo lectura) -->
    <mat-form-field appearance="fill" class="w-40"
      [ngClass]="{'!text-red-600': multiPayForm.get('remainingAmount')?.value < 0}">
      <mat-label>Monto Restante</mat-label>
      <input matInput formControlName="remainingAmount" readonly>
    </mat-form-field>

    <!-- Fecha de pago -->
    <mat-form-field appearance="fill" class="w-40">
      <mat-label>Fecha de Pago</mat-label>
      <input matInput [matDatepicker]="pickerPayDate" formControlName="paymentDate">
      <mat-datepicker-toggle matSuffix [for]="pickerPayDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerPayDate></mat-datepicker>
    </mat-form-field>

    <!-- Aplicar (abriremos modal después) -->
    <button mat-raised-button class="btn-success"
            (click)="applyMultiPayment()"
            >
      APLICAR PAGO
    </button>
    </div>
  </ng-container>
</div>

<div class="mat-elevation-z8 overflow-x-auto">
  <div class="min-w-[700px]">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- NUEVO: columna de checkbox -->
        <ng-container matColumnDef="select" *ngIf="multiPayActive">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let entry">
            <mat-checkbox
              [checked]="isSelected(entry.saleId)"
              (change)="toggleRowSelection(entry, $event.checked)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="saleId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Ticket </th>
            <td mat-cell *matCellDef="let entry"> {{ entry.saleId }}</td>
        </ng-container>

        <!-- BusinessName Column -->
        <ng-container matColumnDef="businessName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
            <td mat-cell *matCellDef="let entry"> {{ entry.businessName }} </td>
        </ng-container>

        <!-- SalesPerson Column -->
        <ng-container matColumnDef="salesPerson">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor </th>
            <td mat-cell *matCellDef="let entry"> {{ entry.salesPerson }} </td>
        </ng-container>

        <!-- SaleStatus Column -->
        <ng-container matColumnDef="saleStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus Ticket </th>
            <td mat-cell *matCellDef="let entry"> {{ entry.saleStatus }} </td>
        </ng-container>

        <!-- PaymentStatus Column -->
        <ng-container matColumnDef="paymentStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus Cobranza </th>
          <td mat-cell *matCellDef="let entry">
            <mat-chip [ngStyle]="getChipStyle(entry.paymentStatusId)" style="border: transparent;" selected>
              {{ entry.paymentStatus }}
            </mat-chip>
          </td>
        </ng-container>

        <!-- totalAmount Column -->
        <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto Ticket </th>
            <td mat-cell *matCellDef="let entry"> {{ entry.totalAmount | currency}} </td>
        </ng-container>

        <!-- totalAmount Column -->
        <ng-container matColumnDef="amountPending">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto Pendiente </th>
            <td mat-cell *matCellDef="let entry"> {{ entry.amountPending | currency}} </td>
        </ng-container>
        
        <!-- SaleDate Column -->
        <ng-container matColumnDef="saleDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Venta </th>
            <td mat-cell *matCellDef="let entry"> {{ entry.saleDate | date: 'shortDate' }} </td>
        </ng-container>

        <!-- Monto de pago -->
        <ng-container matColumnDef="paymentAmount">
          <th mat-header-cell *matHeaderCellDef> Monto a Pagar </th>
          <td mat-cell *matCellDef="let entry; let i = index">
            <input matInput type="number" [formControl]="getPaymentAmountControl(i)" placeholder="$0.00" class="w-24">
          </td>
        </ng-container>

        <!-- Método de pago -->
        <ng-container matColumnDef="paymentMethod">
          <th mat-header-cell *matHeaderCellDef> Método </th>
          <td mat-cell *matCellDef="let entry; let i = index">
            <mat-form-field class="w-36 text-sm" >
              <mat-select [formControl]="getPaymentMethodControl(i)" placeholder="Seleccionar">
                <mat-option *ngFor="let method of paymentMethods" [value]="method.value">
                  <p class="text-sm">{{ method.label }}</p>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let entry; let i = index">
            <button mat-icon-button matTooltip="Aplicar Pago" class="cursor-pointer" (click)="applyPayment(i)">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Ver Detalles del Ticket" class="cursor-pointer" (click)="openDetailsTicket(entry)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button matTooltip="Ver Movimientos de Ticket" mat-icon-button class="text-blue-600 cursor-pointer" (click)="openMovementsDialog(entry)">
              <mat-icon>article</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que coincidan con "{{ input.value }}"</td>
        </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[25, 50, 100]" aria-label="Selector de página"></mat-paginator>
</div>