@import "tailwindcss";

.style-input {
    @apply mt-1 w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-300 placeholder:text-gray-400 transition
}

.class-tooltip {
    @apply cursor-pointer absolute z-10 w-44 p-2 text-sm text-white bg-gray-800 rounded-lg shadow-lg left-1/2 -translate-x-1/2 top-full mt-2 hidden peer-focus:block peer-hover:block group-hover:block sm:block
}

.class-button {
    @apply cursor-pointer w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 transition
}

.btn-confirm-modal {
    @apply cursor-pointer bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded
}

.btn-cancel-modal {
    @apply cursor-pointer bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded
}

.btn-success {
    @apply cursor-pointer hover:bg-green-500 text-green-700 font-semibold hover:text-white py-1.5 px-4 border border-green-500 hover:border-transparent rounded
}

.btn-info {
    @apply cursor-pointer hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1 px-4 border border-blue-500 hover:border-transparent rounded
}

.btn-warn {
    @apply cursor-pointer hover:bg-amber-500 text-amber-400 font-semibold hover:text-white py-1 px-4 border border-amber-500 hover:border-transparent rounded
}

.btn-cancel {
    @apply cursor-pointer hover:bg-red-500 text-red-400 font-semibold hover:text-white py-1 px-4 border border-red-500 hover:border-transparent rounded
}

.item-submenu {
    @apply cursor-pointer w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-input-sm .mat-form-field-wrapper {
  padding-bottom: 0.5rem; 
}

::ng-deep .mat-input-sm .mat-form-field-flex {
  height: 2.25rem; 
  align-items: center;
}

::ng-deep .mat-input-sm .mat-form-field-infix {
  padding: 0 0.5rem;
  min-height: 1.5rem;
}

::ng-deep .mat-header-cell {
  background-color: #f3f4f6; 
  color: #1f2937; 
  font-weight: 600;
  border-bottom: 1px solid #d1d5db;
}

::ng-deep .mat-cell {
  border-bottom: 1px solid #e5e7eb;
  color: #374151;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

::ng-deep .mat-row:hover {
  background-color: #f9fafb;
}

/* Chips para estatus de cobranza */
.chip-payment-sin-pago {
  @apply bg-gray-300 text-gray-800;
}

.chip-payment-parcial {
  @apply bg-amber-300  text-yellow-800;
}

.chip-payment-pagado {
  @apply bg-green-300  text-green-800;
}

.chip-payment-vencido {
  @apply bg-red-300  text-red-800;
}

.chip-payment-cancelado {
  @apply bg-indigo-300  text-indigo-800;
}

