<shared-loading-page *ngIf="isLoading"></shared-loading-page>

<div class="flex justify-between items-center mb-4 w-full">
  <!-- Campo de búsqueda a la izquierda -->
  <div class="w-full md:w-1/3">
    <mat-form-field class="h-17">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar stock" #input />
    </mat-form-field>
  </div>
</div>

<h2 class="text-2xl text-center md:w-full mb-4 -mt-8">Stock Disponible</h2>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="inventoryId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.inventoryId }}</td>
    </ng-container>

    <!-- ProductName Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.productName }} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción Producto </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.description }} </td>
    </ng-container>

    <!-- CurrentStock Column -->
    <ng-container matColumnDef="currentStock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.currentStock }} </td>
    </ng-container>

    <!-- lastUpdateDate Column -->
    <ng-container matColumnDef="lastUpdateDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Última Entrada </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.lastUpdateDate | date: 'shortDate' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos que coincidan con "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[25, 30, 50]" aria-label="Selector de página"></mat-paginator>
</div>
